// @import './variables-day.scss';
@import './el-theme.scss';
@import './intro.scss';
@import './transition.scss';
@import './sidebar.scss';
@import './mixin.scss';

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial,
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

label {
  font-weight: 700;
}

html {
  box-sizing: border-box;
  height: 100%;
}

#app {
  // height: 100%;
  color: #{$text-color-primary};
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

div:focus {
  outline: none;
}

.clearfix {
  &::after {
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;
    content: ' ';
  }
}

.title {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  // margin: 10px 0;
}

.page-container {
  width: 100%;
  min-height: 100%;
  border-radius: 10px;
  background-color: #{$main-bg-color};
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@for $i from 1 to 6 {
  * > .enter-x:nth-child(#{$i}) {
    transform: translateX(50px);
  }
  * > .-enter-x:nth-child(#{$i}) {
    transform: translateX(-50px);
  }
  * > .enter-x:nth-child(#{$i}),
  * > .-enter-x:nth-child(#{$i}) {
    z-index: 10 - $i;
    opacity: 0;
    animation: enter-x-animation 0.4s ease-in-out 0.3s;
    animation-fill-mode: forwards;
    animation-delay: calc(($i * 1s) / 10);
  }

  * > .enter-y:nth-child(#{$i}) {
    transform: translateY(50px);
  }
  * > .-enter-y:nth-child(#{$i}) {
    transform: translatey(-50px);
  }
  * > .enter-y:nth-child(#{$i}),
  * > .-enter-y:nth-child(#{$i}) {
    z-index: 10 - $i;
    opacity: 0;
    animation: enter-x-animation 0.4s ease-in-out 0.3s;
    animation-fill-mode: forwards;
    animation-delay: calc(($i * 1s) / 5);
  }
}

@keyframes enter-x-animation {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enter-y-animation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
